@import url('https://fonts.googleapis.com/css2?family=Bungee+Spice&family=Space+Grotesk:wght@300;400;500;600;700&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  /* font-family: 'Bungee Spice', cursive; */
  font-family: 'Space Grotesk', sans-serif;
  scroll-behavior: smooth;


}

:root {
  --primary: #000;
  --text-primary: #fff;
  --text-secondary: #808080;
  --underline-color: #4ee1a0;
  --form-bg: #242424;
}

body {
  background-color: #000;
  color: var(--text-primary);
}

h1 {

  color: var(--text-primary);
  font-weight: 500;
}

.navbar {
  display: flex;
  justify-content: space-between;
  max-width: 1200px;
  padding: 1em;
  align-items: center;
  margin: 0 auto;
}

.links ul {
  display: flex;
  gap: 20px;
  padding: 10px;
  list-style: none;
}

.links li {
  display: flex;
  justify-content: center;
  align-items: center;
}

.links li:last-child {
  border: 1px solid;
  padding: 4px 10px;
}

.links li:last-child:hover {
  scale: .98;
}

.links a:hover {
  opacity: .7;
}

.links ul li a {
  color: var(--text-primary);
  text-decoration: none;
  display: inline-block;
}

.links ul li a svg {
  font-size: 2rem;

}

.hero-section {
  display: grid;
  max-width: 1200px;

  margin: 0 auto;
  padding: 1em;
  grid-template-columns: 1fr 1fr;
  gap: 40px;
}

.leading-text {
  letter-spacing: 1.2px;
  line-height: 1.5;
  margin-top: 1em;
  /* text-align: justify; */
}

img {
  border-radius: 6px;
  object-fit: cover;
  width: 100%;
}

h2 {
  font-size: 4rem;
  display: block;
  font-weight: 400
}

h2 strong {
  display: block;
  font-weight: 400;
}

.leading-text {
  font-weight: 400;
  color: var(--text-secondary);
  font-size: 1.5ch;
  width: 90%;
  text-align: justify;
}

.content {
  position: relative;
}

.content svg {
  position: absolute;
  top: -20px;
  left: -100px;
}

.skills {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  max-width: 1200px;
  margin: 0 auto;
  gap: 20px;
  padding: 1em;
  position: relative;
  margin-top: 2em;
}

.skills::before {
  content: "";
  position: absolute;
  background-color: white;
  top: 0;
  height: 2px;
  border-radius: 3px;
  opacity: .8;
  width: 100%;
}

.skills div h3 {
  font-size: 2rem;
  position: relative;
  width: max-content;
}

.skills div h3::after {
  content: "";
  position: absolute;
  bottom: -3px;
  left: 0;

  height: 2px;
  width: 100%;

  background-color: var(--underline-color);
  opacity: 1;
  transform-origin: start;
  overflow: hidden;
}

.skills div {
  padding: 1em;
  display: grid;
  gap: 10px;
}

.skills div p {
  color: var(--text-secondary);
}



.container {
  max-width: 1200px;
  margin: 0 auto;

  padding: 1em;
}

.container h2 {
  margin: 10px 0;
}

.projects {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(270px, 1fr));
  gap: 20px;
  text-transform: capitalize;

}

.projects img {
  object-fit: cover;
  width: 100%;
  aspect-ratio: 16/12;
}

.projects div {
  display: grid;
  gap: .4em;

}

.projects p.tools {
  color: var(--text-secondary);
  font-weight: 600;
}

@media (max-width:960px) {
  .projects {
    /* grid-template-columns: 1fr; */
    padding: 2em;
  }

  .container h2 {
    text-align: center;
  }

  .skills div h3 {
    font-size: 1.5rem;
  }

  .hero-section {
    grid-template-columns: 1fr;
    padding: 2em;
  }

  .hero-section h2 {
    font-size: 2.5rem;
    width: 90%;

    margin: 0 auto;
    margin-top: .6em;
  }

  .leading-text {
    font-size: .9rem;
    width: 90%;
    text-align: justify;
    font-size: 1.4ch;
    margin: 0 auto;
    margin-top: 1.5em;
  }

  .skills {
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    margin: 0 auto;
    width: 100%;

  }

  .links ul li a svg {
    font-size: 1.5rem;
  }

  h1 {
    font-size: 1.6rem;
  }
}

@media (max-width:460px) {
  .leading-text {
    font-size: .84ch;
  }
}